### Creating heatmap using google API, gmaps

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-09-19 01:41:37,-46.1927,168.8643,50.49,66,100,3.98
1,1,Port Elizabeth,ZA,2021-09-19 01:41:37,-33.9180,25.5701,61.09,77,0,13.80
2,2,Vaini,TO,2021-09-19 01:41:38,-21.2000,-175.2000,71.76,94,90,10.36
3,3,Bluff,NZ,2021-09-19 01:41:38,-46.6000,168.3333,50.81,70,100,13.20
4,4,Tiarei,PF,2021-09-19 01:41:38,-17.5333,-149.3333,80.62,79,81,18.81

In [3]:
# Confirm the data types for the data columns are integers or floating-point decimal numbers.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Humidity Heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Allowing customers to search for locations they want to travel based on their temperature preferences.

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Tiarei,PF,2021-09-19 01:41:38,-17.5333,-149.3333,80.62,79,81,18.81
5,5,Phirangipuram,IN,2021-09-19 01:41:39,16.3000,80.2667,80.17,70,99,1.36
9,9,Crixas,BR,2021-09-19 01:41:39,-14.5489,-49.9692,79.72,17,6,5.68
12,12,Georgetown,MY,2021-09-19 01:41:40,5.4112,100.3354,82.33,86,20,5.75
14,14,Ajdabiya,LY,2021-09-19 01:41:41,30.7554,20.2263,78.15,37,0,9.46
15,15,Kapaa,US,2021-09-19 01:41:41,22.0752,-159.3190,84.18,67,20,5.01
16,16,Bae,ID,2021-09-19 01:41:41,-6.7681,110.8617,83.50,61,25,7.58
17,17,Khajuraho,IN,2021-09-19 01:41:41,24.8500,79.9333,77.92,83,6,7.18
21,21,Boyolangu,ID,2021-09-19 01:41:43,-8.1181,111.8935,81.19,71,84,10.89
24,24,Rafraf,TN,2021-09-19 01:41:43,37.1904,10.1837,75.51,88,0,13.40

In [11]:
# Determining if DataFrame has any null values for any of the rows.
#If there are rows with null values, you'll need to drop them using
#the dropna() method at the end of the filtering statement when creating the new DataFrame.

preferred_cities_df.count()

City_ID       198
City          198
Country       198
Date          198
Lat           198
Lng           198
Max Temp      198
Humidity      198
Cloudiness    198
Wind Speed    198
dtype: int64

### Using the coordinates from the preferred_cities_df DataFrame, find a hotel using Google Places API and then retrieve that hotel information. Once we retrieve the hotel information, we'll need to store it so we can reference it and add the information to the pop-up marker.

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
4          Tiarei      PF     80.62 -17.5333 -149.3333
5   Phirangipuram      IN     80.17  16.3000   80.2667
9          Crixas      BR     79.72 -14.5489  -49.9692
12     Georgetown      MY     82.33   5.4112  100.3354
14       Ajdabiya      LY     78.15  30.7554   20.2263
15          Kapaa      US     84.18  22.0752 -159.3190
16            Bae      ID     83.50  -6.7681  110.8617
17      Khajuraho      IN     77.92  24.8500   79.9333
21      Boyolangu      ID     81.19  -8.1181  111.8935
24         Rafraf      TN     75.51  37.1904   10.1837

### Retrieve Hotels from a Nearby Search

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Tiarei,PF,80.62,-17.5333,-149.3333,Le Rocher de Tahiti
5,Phirangipuram,IN,80.17,16.3000,80.2667,Carmel Girls Hostel(Universal College Of Engin...
9,Crixas,BR,79.72,-14.5489,-49.9692,RISO HOTEL
12,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
14,Ajdabiya,LY,78.15,30.7554,20.2263,Almadina Hotel
...,...,...,...,...,...,...
564,Kinablangan,PH,83.84,7.6947,126.5503,Danny Moreno Property
566,Bac Lieu,VN,84.04,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
569,Iracoubo,GF,79.21,5.4802,-53.2011,Le Gîte d’Iracoubo
570,Trat,TH,87.26,12.5000,102.5000,สวนหนิง-อัศ
571,Sao Felix Do Xingu,BR,77.04,-6.6447,-51.9950,Rio Xingu Camping

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))